* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* Navbar Styles */

.nav-bar-titles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 55px;
}
.nav-title {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 85px 0 0 200px;
    font-size: 35px;
    font-weight: 700;
}
.nav-home-login {
    display: flex;
    justify-content: start;
    gap: 50px;
    width: 100%;
    padding: 75px 5px 0 250px;
}
.home-login:hover {
    color:white;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(255, 196, 0);
    border-radius: 5px;
    transform: rotate3d(2, -1, -1, -0.2turn);
    cursor: pointer;
}

/* Main Section Styles */

.main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1600px;
    height: 1120px;
    left: 1px;
    top: 98px;
    background: rgba(204, 204, 204, 0.1);
    padding: 0 200px;
}
.banner-title-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    grid-column-gap: 5px;
    width: 100%;
}
.banner-title {
width: 100%;
text-align: center;

}
.title {
    font-size: 45px;
    font-weight: 700;
}
.btn-explore {
    border-style: none;
    border-radius: 5px;
    background-color: #FF900E;
    color: white;
    width: 100px;
    height: 35px;
    margin-bottom: 15px;
}
.banner-image img {
    width: 100%;
}
.feature-team {
    display: flex;
    margin-top: 65px;
    gap: 45px;
}
.team-image {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    grid-row-gap: 15px;
    gap: 15px;
    padding-left: 100px;
}
.team-image img {
    width: 100%;
}
.feature-quick-list {
    text-align: start;
    padding-left: 15px;
    padding-top: 8%;
}
.feature-title {
    font-size: 35px;
    font-weight: 600;
    
}
.text-style {
    color: #727272;
}
.feature {
    color: #FF900E;
}
.features-container {
    display: flex;
    width: 100%;
}
.feature-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0;
}
.feature-love {
    border-left: 3px solid chocolate;
    padding-left: 10px;
}
.divice-version {
    box-shadow: 10px 10px 10px 10px #f6ebeb;
    border-radius: 5px;
    padding: 10px;
}
.architecht-img {
    max-width: 100%;
}
.btn-experiance {
    border-style: none;
    border-radius: 5px;
    background-color: #FF900E;
    width: 145px;
    height: 85px;
    position:relative;
    left: -70px;
    top: -50px;
}
.projects {
    display: flex;
    justify-content: space-around;
}
.award {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    justify-content: center;
    border: 2px solid orange;
    width: 150px;
    height: 160px;
    padding: 10px;

}
#ribon:hover, 
#project:hover,
#customer:hover,
#email:hover {
    background-color: rgb(124, 244, 12);
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
    transform: rotate3d(2, -1, -1, -0.2turn);
}
h3:hover,
button:hover {
    color:white;
    background-color: black;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.sponsor {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.sponsor-img {
    display: flex;
    justify-content: space-around;
    filter: grayscale(100%);
    margin: 10px 5px;
}
.sponsor-imges:hover {
    cursor: pointer;
    opacity: 0.5;
}
/* Footer Styles */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 221, 198);
    width: 100%;
    height: 70px;
}

/* @media queries styles */

 @media screen and (max-width: 576px) {
    .header-container {
        width: 570px;
    }
   .nav-bar-titles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    align-items: start;
    text-align: start;
    height: 300px;
    margin: 0px
   }
   .nav-title {
    justify-content: flex-start;
    padding: 5px;
   }
   .nav-home-login {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: start;
    padding: 5px;
   }
   .main-container {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    width: 570px;
    font-size: 20px;
    margin: 45px 0px;
    padding: 0;
    }
    .container {
        width: 570px;
        padding: 0;
    }
    .banner-title-image {
        width: 576px;
        padding: 5px;
    }
    .banner-title {
    width: 570px;
    text-align: start;

   }
   .title {
    width: 570px;
    font-size: 40px;
    text-align: start;
    padding: 5px;
   }
   .banner-image {
    width: 100%;
    justify-content: center;
   }
   .feature-team {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    text-align: start;
    width: 570px;
    padding: 5px;
   }
   .team-image, .sponsor-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: start;
    align-items: start;
    width: 100%;
    padding-left: 5px;
   }
   .feature-quick-list {
    padding: 0;
    width: 100%;
   }
   .features-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    width: 570px;
    padding: 0px;
   }
   .feature-container, 
   .features-love, 
   .feature-love,
   .version {
    width: 570px;
    padding: 0;
   }
   .btn-experiance {
    left: 0;
   }
   .divice-version {
    width: 100%;
    padding: 5px;
   }
   .architecht-img img {
    max-width: 100%;
   }
   .some-facts-container, .some-facts {
    width: 570px;
    padding: 0;
   }
   .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 576px;
   }
   .award {
    text-align: center;
   }
   .sponsor {
    text-align: start;
   }
   .sponsor-img {
    padding-left: 200px;
    gap: 10px;
   }
   footer {
    width: 570px;
    padding: 2px;;
   }

 }